@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&display=swap');

.back-text {
    font-weight: 800;
    font-size: 18px;
}

.theme-color {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
}